.comic {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 3rem 0 3rem 0;

    .title {
        text-align: center;
        font-weight: bold;
        font-size: 1.8rem;
    }

    img {
        width: 45rem;
        height: 45rem;
    }
}