html {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    height: 100%;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 10px;
    font-weight: 400;
    cursor: default;
    background-color: white;
}