.toolbar {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-direction: column;

    p {
        align-self: center;
        font-weight: bold;
        font-size: 2rem;
    }

    form {
        display: flex;
        justify-content: center;
        width: 100%;
        margin-top: 2rem;

        .toolbar__form_input {
            margin: 0 4rem 0 4rem;
        }
    }
}